/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-wp-learn-todo {
	border: 1px dotted #f00;
}

.dspace-query-preview-box {
	background: #f9f9f9;
	border: 1px dashed #ccc;
	padding: 20px;
	border-radius: 4px;

	h4 {
		margin-top: 0;
		margin-bottom: 5px;
		color: #1e1e1e;
	}

	.dspace-results-list {
		list-style-type: disc;
		padding-left: 20px;
		margin-top: 15px;
	}

	.dspace-item {
		margin-bottom: 10px;

		a {
			font-weight: 600;
			text-decoration: none;
			display: inline-block;
		}
	}

	.dspace-meta {
		display: block;
		font-size: 12px;
		color: #757575;
		margin-top: 2px;
	}
}
